body {
  font-size: 16px;
  background-color: #A0A0A0;
}

header {
  background-color: $primary-color;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

h2 {
  font-family: 'UniqueRegular'; 
  font-weight: normal; 
  font-style: normal; 
  font-size: 2rem;
  color: #211C1C;
  padding: 2rem 2rem 1rem 3rem;
}

.navbar-title {
  padding: 0rem 1rem;
}

.navbar-title-a:link {
  font-family: 'UniqueRegular'; 
  font-weight: normal; 
  font-style: bold; 
  font-size: 3rem;
  text-decoration: none;
  color: $secondary-color;
}

.navbar-title-a:visited {
  color: $secondary-color;
}
.navbar-title-a:hover {
  color: $secondary-color;
}
.navbar-title-a:active {
  color: $secondary-color;
}

.navbar-list {
  padding-right: 0.3rem;
  font-family: 'UniqueRegular'; 
  font-weight: normal; 
  font-style: normal; 
  font-size: 1.5rem;
  padding: 0rem 0.2rem;

  li {
    margin: 0.5rem;
  }
}

.navbar-list a:link {
  text-decoration: none;
  color: $secondary-color;
}
.navbar-list a:visited {
  text-decoration: none;
  color: $secondary-color;
}
.navbar-list a:hover {
  text-decoration: underline;
  color: $secondary-color;
}
.navbar-list a:active {
  text-decoration: none;
  color: $secondary-color;
}

/*

 ========== Links ==========

*/

a:link {
  color: $secondary-color;
  text-decoration: none;
}
a:visited {
  color: $secondary-color;
}
a:hover {
  color: $secondary-color;
  text-decoration: underline;
}
a:active {
  color: $secondary-color;
}

/*

 ========== Blog index ==========

*/

@media screen and (max-width: 600px) {

  .blog-banner-img {
    float: center;
    padding : 1rem;
    margin: 0.1rem;
    max-width: 25rem;
  }
  .blog-subtitle {
    font-family: 'UniqueRegular';
    margin: 0.1rem 1rem 0.5rem 0.5rem;
    padding: 0.1rem 1rem 1rem 1rem;
    font-size: 3rem;
    text-align: center;
  }
  .blog-index {
    font-family: 'GidoleRegular';
    font-weight: normal;
    font-style: normal; 
    font-size: 1.5rem;
    padding: 0.2rem 1.8rem;
    margin: 0.2rem 1.2rem;
  }
  /*
   ========== Article ==========
  */
  .article-title {
    margin: 0.1rem 0.1rem 0.1rem 1rem;
    padding: 0.5rem 1rem 0.1rem 0.8rem;
  }
  .article-info {
    margin: 0.1rem;
    padding: 0.1rem 0.5rem;
  }
  .article {
    font-family: 'GidoleRegular';
    font-weight: normal;
    font-style: normal; 
    font-size: 1.5rem;
    margin: 0.1rem 0.1rem 0.1rem 0.5rem;
    padding: 0.2rem 0.1rem 0.1rem 0.1rem;
  }
}

@media screen and (max-width: 768px) and (min-width: 601px) {
  .blog-banner-img {
    float: center;
    padding : 1rem 3rem 1rem 3rem;
    margin: 0.1rem 8rem 0.2rem 5rem;
    max-width: 85rem;
  }
  .blog-subtitle {
    margin: 0.1rem 0.1rem 0.5rem 3.5rem;
    padding: 0.1rem 1rem 1rem 1rem;
    font-size: 3rem;
  }
  .blog-index {
    font-size: 1.7rem;
    padding: 0.2rem 1.8rem;
    margin: 0.2rem 2.2rem;
  }
  /*
   ========== Article ==========
  */
  .article-title {
    margin: 0.1rem 0.1rem 0.1rem 1rem;
    padding: 0.5rem 1rem 0.1rem 0.8rem;
  }
  .article-info {
    margin: 0.1rem;
    padding: 0.1rem 0.5rem;
  }
  .article {
    font-family: 'GidoleRegular';
    font-weight: normal;
    font-style: normal; 
    font-size: 1.5rem;
    padding: 1rem 1rem 2rem 1rem;
  }
} 

@media screen and (min-width: 769px) {
  .blog-banner-img {
    float: center;
    padding : 1rem 5rem 1rem 3rem;
    margin: 0.1rem 10rem 0.2rem 5rem;
    min-width: 25rem;
    max-width: 85rem;
    min-height: 25rem;
  }
  .blog-subtitle {
    margin: 3rem 0.1rem 0.5rem 1.5rem;
    padding: 0.1rem 1rem 1rem 1rem;
    font-size: 3rem;
  }
  .blog-index {
    font-size: 1.7rem;
    padding: 0.2rem 1.8rem;
    margin: 0.2rem 2.2rem;
  }
  /*
   ========== Article ==========
  */
  .article-title {
    margin: 0.1rem 0.1rem 0.1rem 1rem;
    padding: 0.5rem 1rem 0.1rem 0.8rem;
  }
  .article-info {
    margin: 0.1rem;
    padding: 0.1rem 0.5rem;
  }
  .article {
    font-family: 'GidoleRegular';
    font-weight: normal;
    font-style: normal; 
    font-size: 1.5rem;
    padding: 1rem 3rem 2rem 3rem;
  }
} 


footer {
  background-color: #211C1C;
  color: $secondary-color;
  padding: 2rem 1rem 1rem 1rem;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'GidoleRegular';
  font-weight: normal; 
  font-style: normal; 
}
