{% extends "layout.html" %}
{% from "macros/pagination.html" import render_pagination %}
{% from "macros/blog.html" import render_blog_post %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}

  {% if this.attachments.images %}
  {% for image in this.attachments.images %}
    <div class="container">
    <div class="row">
      <div class="col-xxs-12">
        <img src="{{ image.thumbnail(320)|url }}" alt="{{ this.image_alt }}" class="media blog-banner-img">
      </div>
    </div>
    </div>
   {% endfor %}
   {% endif %}


   <div class="container"></div>
  <div class="row">
    <div class="col-xxs-12 col-xs-12">
        {% set blog_root = site.get('/blog') %}
          <h2 class="blog-subtitle"><a href="{{ blog_root|url }}">{{ blog_root.title }}</h2>
    </div><!-- div class="col-xxs-12"--> 
  </div><!-- div class="row"--> 

  <div class="row">
    <div class="col-xxs-12">
      <ul class="blog-index">
          {% for post in blog_root.pagination.items %}
          <li>
            <a href="{{ post|url }}">{{ post.title }}</a> 
          {% if this.show_author %}  — by {{ post.author }} {% endif %}
          {% if this.show_date %} on {{ post.pub_date }} {% endif %}

          </li>
          {% endfor %}
      </ul>
    </div><!-- div class="col-xxs-12"--> 
  </div><!-- div class="row"--> 

  {% if this.pagination.pages > 1 %}
  {{ render_pagination(this.pagination) }}
{% endif %}
</div><!-- div class="container"--> 


   <div class="container">
  <div class="row">
    <div class="col-xxs-12 col-xs-12">
      {% set texts_root = site.get('/texts') %}
        <h2 class="blog-subtitle"><a href="{{ texts_root|url }}">{{ texts_root.title }}</a></h2>
    </div><!-- div class="col-xxs-12"--> 
  </div><!-- div class="row"--> 

  <div class="row">
    <div class="col-xxs-12">
      <ul class="blog-index">
          {% for text in texts_root.children %}
          <li>
            {% set image = text.attachments.images.first() %}
            {% if image %}
              <img src="{{ image.thumbnail(320)|url }}" alt="">
            {% endif %}
            <a href="{{ text|url }}">{{ text.title }}</a> 

          </li>
          {% endfor %}
      </ul>
    </div><!-- div class="col-xxs-12"--> 
  </div><!-- div class="row"--> 

</div><!-- div class="container"--> 

{% endblock %}
